body {
  padding: 0;
  margin: 0;
}

p {
  height: 5px;
  width: fit-content;
}
h3 {
  margin: 0;
}

.header {
  top: 0;
  background-color: darkslategray;
  height: 100px;
  width: 100%;
  display: flex;
  position: sticky;
  z-index: 2;
  justify-content: space-between;
}
#title:hover {
  cursor: pointer;
}
li {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: aliceblue;
}

.header .nav_link {
  margin-top: 50px;
  margin-right: 20px;
}

.header .nav_link li {
  display: inline-block;
  cursor: pointer;
  position: relative;
  font-size: 15px;
  margin-right: 20px;

  padding: 5px;

  transition: all 0.5s ease 0.1s;
}

.header .nav_link li .number {
  position: absolute;
  text-align: center;
  top: 0px;
  width: 15px;
  border-radius: 30%;
  right: -5px;
  font-size: 10px;
  color: black;
  background-color: white;
}

.header .nav_link li:hover {
  background-color: rgb(5, 224, 249);
  border-radius: 50%;
}

.header #title {
  position: absolute;
  top: 25px;
  left: 100px;
  font-family: "Open Sans", sans-serif;
  text-decoration: underline;
  color: blue;
  font-weight: 500;
}

.topnav {
  padding-top: 50px;
  padding-left: 100px;
}

.main {
  height: auto;
  display: flex;
  margin-left: 20px;
  margin: 2% 2%;
}

.top-menu {
  float: left;
  width: 350px;
  height: fit-content;
  display: flex;
  font-size: 10px;
  margin-left: 10px;
  padding: 10px;
  margin-top: 100px;
  border-radius: 10%;
  border: #333 solid 1px;
  margin-right: 25px;
}

.top-menu ul {
  padding: 0;
  width: 100%;
}
.top-menu li {
  font-size: 15px;
  cursor: pointer;
  color: (250, 250, 250);
}
.top-menu .filter-section {
  margin: 5px 0;
  background-color: rgb(225, 225, 111);
  color: rgb(16, 124, 233);
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  display: block;
  font-size: 15px;
  position: relative;
  border: #333 solid 1px;
  height: 25px;
  transition: all 1s;
  overflow: hidden;
}
.filter-section.active {
  height: 130px;
}
.filter-main {
  margin-left: 50px;
  display: block;
  transition: all 1.5s;
}
.find-button {
  position: absolute;
  bottom: 0px;
  right: 0;
  background-color: rgb(0, 255, 242);
  border: none;
  border-radius: 10%;
  box-shadow: 0px 0px 2 px 1px #888888;
  color: rgb(12, 4, 244);
}
.find-button:hover {
  background-color: yellow;
}

.container {
  float: left;
  align-items: center;
  width: 890px;
  height: auto;

  box-sizing: border-box;

  overflow: hidden;
  display: block;
}

.title-block {
  text-align: left;
  padding-left: 90px;
  position: relative;
  margin-bottom: 15px;
}

.title-block::before {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  top: 30px;
  width: 1000px;
  height: 1px;
  background: #333;
  color: black;
}

.title-block::after {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  top: 35px;
  width: 1000px;
  height: 1px;
  background: #333;
  color: black;
}

.title .title-block .wrap-content {
  width: fit-content;
  display: inline-block;
  background: #fff;
}

.swipe-content {
  width: 1000px;

  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  height: 950px;
}

.swipe-wrapper {
  width: 100%;
  margin-top: 20px;
  padding: 0;
  margin-left: 5px;
  margin-bottom: 20px;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
  grid-auto-columns: 250px;
  row-gap: 15px;
  height: auto;
  position: absolute;
  left: 0;
  top: 80;
  transition: all 1s;
}

.move-left-button {
  left: 5px;
  display: none;
  position: absolute;
  top: 385px;
  z-index: 1;
  font-size: 30px;
  font-weight: 200;
  background-color: #afa1a1;
  opacity: 0.4;
  border: none;
  border-radius: 15%;
}

.move-left-button:hover {
  opacity: 0.8;
}

.move-right-button {
  right: 5px;
  position: absolute;
  top: 385px;
  z-index: 1;
  font-size: 30px;
  font-weight: 200;
  background-color: #afa1a1;
  opacity: 0.4;
  border: none;
  border-radius: 15%;
}

.move-right-button:hover {
  opacity: 0.8;
}

.col-lg {
  height: 380px;
  width: fit-content;
  overflow: hidden;
  box-shadow: 0px 0px 5px 1px #888888;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  transition: all 0.25s;
}

.col-lg:hover {
  box-shadow: 0px 0px 5px 2px #888888;
  top: -6px;
}

.information {
  background-color: aqua;
  height: 200px;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  bottom: 0px;
  border-top-left-radius: 7%;
  border-top-right-radius: 7%;
  visibility: hidden;
  transition: visibility 0s, linear;
}
.information p {
  width: fit-content;
}

.product-image {
  position: relative;
}

.product-image img {
  height: 255px;
  width: 230px;
}

.product-image .image-section:hover .information {
  visibility: visible;
}

.plus-button {
  position: absolute;
  border-radius: 50%;
  background-color: greenyellow;
  color: white;
  padding: 1px 4px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  right: 12px;
  top: 12px;
  box-shadow: 0px 0px 3px 0.5px #888888;
}

.plus-button:hover {
  background-color: green;
}

.detail {
  padding-top: 10px;
  background-color: aquamarine;
  height: 200px;
  font-size: 15px;
  text-align: center;
}

.detail .rating {
  color: yellow;
}

.detail p {
  width: 100%;
  margin-bottom: 10px;
}

.show_all {
  right: 10px;
  bottom: 10px;
  position: absolute;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
  font-size: 17px;
}

.footer {
  height: 420px;
  background-color: coral;
}

.all-section {
  padding: 80px;

  background-color: #65bcc9;
  box-shadow: 0 0 10px 1px rgb(148, 149, 147);
  margin-top: 40px;
  border-radius: 10px;
  margin-left: 5px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  height: fit-content;
  gap: 10px;
  margin-bottom: 10px;
}

.wrapper {
  position: relative;
  z-index: 0;
}

.detail-section {
  position: absolute;
  inset: 0;
  display: none;
}

.detail-section.active {
  display: flex;
  border-radius: 5%;
}

.bgr {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.detail-main {
  position: fixed;
  width: 500px;
  height: 400px;
  background-color: #fff;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  background-color: greenyellow;
  width: 30px;
  text-align: center;
  border-radius: 50%;
}
.close:hover {
  background-color: green;
}
.detail-section img {
  width: 200px;
  height: 260px;
  margin: 5px;
  border-radius: 5%;
  box-shadow: 0 0 10px 1px rgb(124, 122, 122);
  border: #333 solid 1px;
}
.top-detail {
  display: flex;
}
.product-detail {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;

  justify-content: center;
  padding-left: 40px;
  justify-content: space-evenly;
  width: 100%;
}
.order-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 5%;
  margin-top: 10%;
  width: 90%;
  background-color: red;
  height: 15%;
  border-radius: 4%;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}
.order-button:hover {
  background-color: rgb(143, 32, 32);
}
/* Panigatino*/
.pagination {
  justify-content: center;
  font-size: 17px;
  display: flex;
  color: #333;
  margin-bottom: 50px;
  margin-top: 40px;
  line-height: 60px;
}
.pagination ul {
  display: flex;
  padding: 0;
  margin: 0;
  box-shadow: 0 10px 20px 0 #cccccc;
  position: relative;
}
/*thiết lập style cho thẻ li*/
.pagination ul li {
  flex: 1;
  list-style: none;
  text-align: center;
  position: relative;
  width: 50px;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s ease;
  cursor: pointer;
  color: #000;
}
/*tạo hiệu ứng hover cho thẻ li */
.pagination ul li:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: #65bcc9;
}
/*chuyển đổi vị trí của class bar khi người dùng hover vào các con số*/
.pagination ul li:hover:nth-of-type(n) ~ .bar {
  left: calc(1 * 50px);
}

/*thiết lập style cho class bar*/
.pagination ul .bar {
  width: 50px;
  background-color: dodgerblue;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.3s ease;
}
.cart-section {
  margin-top: 5px;
  width: 700px;
}
.all-wrapper {
  border: #65bcc9 solid 1px;
  height: 1100px;
}
.cart-tag {
  border: #000 solid 1px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}
.cart-tag img {
  height: 70px;
  width: 80px;
  border: #000 0.5px solid;
}
.cart-tail {
  display: flex;
  width: 100px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}
.cart-tail span {
  border-radius: 50%;
  background-color: gray;
  width: 20px;
  text-align: center;
  cursor: pointer;
}
.cart-tail span:hover {
  background-color: red;
}
